:root {
  --background-color: #1e1e2e;
  --header-color: #11111b;
  --title-color: #cdd6f4;
  --text-color: #a6adc8;
  --link-color: #89b4fa;
  --accent-color: #f2cdcd;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "iA Writer Mono", monospace;
  display: flex;
  flex-flow: column nowrap;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.fa-heart {
  color: var(--accent-color);
}

.fa-brands {
  /* border: 1px green solid; */
  color: var(--title-color);
  font-size: 2rem;
  padding-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.fa-brands:hover {
  transform: rotate(360deg) scale(1.2);
}
nav {
  padding: 0 1rem;
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  /* border: 1px red solid; */
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main p {
  /* border: 1px red solid; */
  margin: 0 0 1rem 0;
  font-size: 2.3rem;
  font-weight: 700;
}

.terminal--tilde {
  color: var(--text-color);
}

.terminal--cursor {
  color: var(--accent-color);
}

.main__terminal--name {
  color: var(--link-color);
}

button {
  color: var(--link-color);
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

button::before {
  margin-left: auto;
}

button::after,
button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--accent-color);
  display: block;
  transition: 0.5s;
}

button:hover::after,
button:hover::before {
  width: 100%;
}

footer {
  text-align: center;
}

.output {
  width: 30ch;
  opacity: 0;
  animation:
    fade 0s 2.5s forwards,
    typing 2s steps(25) 2.5s;
  white-space: nowrap;
  overflow: hidden;
}

.typeme {
  width: 30ch;
  animation:
    typing 2s steps(25),
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid #f2d5cf;
}

/* animation */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 30ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* dynamic resizing */
@media (min-width: 600px) {
  body {
    font-size: 1.25rem;
  }
}
